<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org"> 
<head> 
	<meta charset="UTF-8"></meta> 
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 
	<!-- CSS読込 --> 
	<link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"> 
	<link rel="stylesheet" th:href="@{/css/user/signup.css}">
	<!-- JS読込 --> 
	<script th:src="@{/webjars/jquery/jquery.min.js}" defer></script> 
	<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script> 
	<!-- messages.propertiesに記載されているuser.signup.titleの内容を表示する -->
	<title th:text="#{user.signup.title}"></title> 
</head>
<body class="bg-light"> 
	<!-- formタグ内でsignupForm.javaの参照をできるようにする -->
	<form id="signup-form" method="post" action="/user/signup" class="form-signup" th:object="${signupForm}"> 
		<!-- messages.propertiesに記載されているuser.signup.titleの内容を表示する -->
		<h1 class="text-center" th:text="#{user.signup.title}"></h1> 
		<!-- ユーザーID --> 
		<div class="form-group"> 
			<!-- messages.propertiesに記載されているuserIdの内容を表示する -->
			<label for="userId" th:text="#{userId}"></label> 
			<!-- signupForm.java内のuserIdの型として入力値を設定する -->
			<input type="text" class="form-control" th:field="*{userId}" th:errorclass="is-invalid" />
			<!-- inputダグ内のth:fieIdと連携してuserIdでエラーが発生した場合メッセージを表示する -->
			<div class="invalid-feedback" th:errors="*{userId}"></div> 
		</div> 
		<!-- パスワード --> 
		<div class="form-group"> 
			<!-- messages.propertiesに記載されているpasswordの内容を表示する -->
			<label for="password" th:text="#{password}"></label> 
			<!-- signupForm.java内のpasswordの型として入力値を設定する -->
			<input type="text" class="form-control" th:field="*{password}" th:errorclass="is-invalid" />
			<!-- inputダグ内のth:fieIdと連携してpasswordでエラーが発生した場合メッセージを表示する -->
			<div class="invalid-feedback" th:errors="*{password}"></div>  
		</div> 
		<!-- ユーザー名 --> 
		<div class="form-group"> 
			<!-- messages.propertiesに記載されているuserNameの内容を表示する -->
			<label for="userName" th:text="#{userName}"></label> 
			<!-- signupForm.java内のuserNameの型として入力値を設定する -->
			<input type="text" class="form-control" th:field="*{userName}" th:errorclass="is-invalid" />
			<!-- inputダグ内のth:fieIdと連携してuserNameでエラーが発生した場合メッセージを表示する -->
			<div class="invalid-feedback" th:errors="*{userName}"></div> 
		</div> 
		<!-- 誕生日 --> 
		<div class="form-group"> 
			<!-- messages.propertiesに記載されているbirthdayの内容を表示する -->
			<label for="birthday" th:text="#{birthday}"></label> 
			<!-- signupForm.java内のbirthdayの型として入力値を設定する -->
			<input type="text" class="form-control" placeholder="yyyy/MM/dd" th:field="*{birthday}" th:errorclass="is-invalid" />
			<!-- inputダグ内のth:fieIdと連携してbirthdayでエラーが発生した場合メッセージを表示する -->
			<div class="invalid-feedback" th:errors="*{birthday}"></div> 
		</div> 
		<!-- 年齢 --> 
		<div class="form-group"> 
			<!-- messages.propertiesに記載されているageの内容を表示する -->
			<label for="age" th:text="#{age}"></label> 
			<!-- signupForm.java内のageの型として入力値を設定する -->
			<input type="text" class="form-control" th:field="*{age}" th:errorclass="is-invalid" />
			<!-- inputダグ内のth:fieIdと連携してageでエラーが発生した場合メッセージを表示する -->
			<div class="invalid-feedback" th:errors="*{age}"></div>  
		</div> 
		<!-- 性別 --> 
		<div class="form-group"> 
			<!-- UserApplicationService.javaにてgenderMap.putした値をth:each="item : ${genderMap}"にて受け取り表示する -->
			<div th:each="item : ${genderMap}" class="form-check-inline"> 
				<!-- signupForm.java内のgenderの型として入力値を設定する -->
				<input type="radio" class="form-check-input" th:value="${item.value}" th:field="*{gender}" th:errorclass="is-invalid"/> 
				<label class="form-check-label" th:text="${item.key}"></label> 
			</div> 
			<!-- inputダグ内のth:fieIdと連携してgenderでエラーが発生した場合メッセージを表示する -->
			<!-- th:ifにてgenderにエラーが発生していた場合classを追加する -->
			<div class="text-danger" th:if="${#fields.hasErrors('gender')}" th:errors="*{gender}"></div>
		</div> 
		<!-- 登録ボタン --> 
		<!-- messages.propertiesに記載されているuser.signup.btnの内容を表示する -->
		<input type="submit" th:value="#{user.signup.btn}" class="btn btn-primary w-100 mt-3" /> 
		<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
	</form> 
</body> 
</html>